*{
    padding: 0;
    margin: 0;
}


 
   ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #9b055d; /* Underline color */
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
   ul li:hover::after {
    width: 100%;
  }
   ul li:hover {
    color: #9b055d; 
    transform: translateY(-3px);
  }
  
  .heading li {
    margin-right: 20px;
  }
  .cart-logo{
    /* padding-right: 20px; */
    margin-right: 20px;
    margin-top: 10px;

    /* padding-bottom: 20px; */
    float: right;
    font-size: 20px;
    color: white;
    cursor: pointer;
   
  }

  .heading h2{
    margin-left: 10px;
    font-size: 35px;
    color: white;
    

  }
  
  #search{
    border-radius: 1.5em;
    margin-top: 5px;
      margin-right: 300px;
      margin-left: 100px;
      width: 400px;
    padding: 0.75em;
    
  }

.men-cards{
    display: grid;
    /* align-items: center; */
    flex-wrap: wrap;
    /* margin-top: 20px; */
    margin-left: 50px;
    /* margin-right: 50px; */
      /* overflow-x: scroll; */
      
      gap: 20px;
      padding-bottom: 35px;
      justify-content: left;
  }

  .main{
    display: flex;
    margin-top: 20px;

    gap: 30px;
  }
  .men-card{

    /* margin-top: 20px; */
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    padding: 20px 20px;
    margin-bottom: 20px;
    /* background-color: rgb(189, 189, 114); */
    width: 750px;
    height: 290px;
    /* text-align: center; */
    position: relative;

  }

  .price-card{
    /* margin-top: 80px; */
    color: black;
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0%;
    right: 0%;
    width: 450px;
    height: 630px;
    padding: 20px 30px;
    /* border: 1px solid black; */
    
  }

  .image img{
    width:10em ;
    height: 13em;
    object-fit: cover;
    background-size: cover;
    /* border: 1px solid black; */
    
  }

  .content{
    /* border: 1px solid black; */
   /* width: 500px; */
    position: absolute;
    bottom: 50%;
    left: 25%;
  }

  .category{
    color: grey;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .content h4{
    
    font-size: 25px;

  }
  .discount-price{
    color: rgb(175, 16, 16);
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;

  }
  .discount-percentage{
    color: green;
    margin-right: 10px;
    font-weight: 600 ;
    font-size: 15px;

    

  }

  .original-price {
    text-decoration: line-through;
    color: grey;
    margin-right: 10px;
    font-size: 15px;
   


  }
  .ratings{
    border: none;
    background-color: rgb(18, 104, 18);
    color: white;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
  }

  

  .content-buttons{
    position: absolute;
    gap: 30px;
    left: 25%;
    top: 55%;
  }

  .remove-btn{
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bolder;
    background-color: black;
    border-radius: 6px;

  }

  

  .remove-btn:hover{
    background-color: #4e5050;
    font-weight: bolder;
    box-shadow: rgba(104, 100, 100, 0.35) 0px 5px 15px;
    transform: scale(0.9);


  }

  
  
  /* .price-card{
    width: 350px;
    height: 550px;
    padding: 20px 30px;

  } */

  .price-card h2{
    margin-bottom: 30px;
    padding: 5px 5px;
    /* text-align: center; */
    color: rgb(97, 96, 96);
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    
  }

  .price-details{
    padding: 20px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   
  }

  .price-details p{
    margin-bottom: 40px;
    font-size: 20px;
    color: rgb(83, 80, 80);
    
  }

  #total-price, #delivery-charges,#discount,#total-amount{
   float: right;
  }

  .place-order{
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bolder;
    background-color: rgb(196, 133, 17);
    border-radius: 6px;
    cursor: pointer;
  }


  /* Media Query  */

  

@media (min-width:400px) and (max-width:575.98px){
  .main{
    /* display: flex; */
    flex-direction: column;
    margin-top: 20px;

    gap: 30px;
  }
  .men-card{

    /* margin-top: 20px; */
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    padding: 20px 20px;
    margin-bottom: 20px;
    /* background-color: rgb(189, 189, 114); */
    width: 300px;
    height: 500px;
    /* text-align: center; */
    position: relative;

  }
  .content{
    /* border: 1px solid black; */
   /* width: 500px; */
    position: absolute;
    bottom: 20%;
    left: 20%;
  }

  .content-buttons{
    position: absolute;
    gap: 30px;
    left: 15%;
    top: 85%;
  }
  .price-card{
    /* margin-top: 80px; */
    color: black;
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0%;
    right: 0%;
    width: 350px;
    margin-left: 20px;
    height: 640px;
    padding: 20px 30px;
    /* border: 1px solid black; */
    
  }
 
}

@media (min-width:576px) and (max-width:767.98px){
  .main{
    /* display: flex; */
    flex-direction: column;
    margin-top: 20px;

    gap: 30px;
  }
  .men-card{

    /* margin-top: 20px; */
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    padding: 20px 20px;
    margin-bottom: 20px;
    /* background-color: rgb(189, 189, 114); */
    width: 400px;
    height: 500px;
    /* text-align: center; */
    position: relative;

  }
  .content{
    /* border: 1px solid black; */
   /* width: 500px; */
    position: absolute;
    bottom: 20%;
    left: 10%;
  }

  .content-buttons{
    position: absolute;
    gap: 30px;
    left: 10%;
    top: 85%;
  }
  .price-card{
    /* margin-top: 80px; */
    color: black;
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0%;
    right: 0%;
    width: 400px;
    margin-left: 55px;
    height: 630px;
    padding: 20px 30px;
    /* border: 1px solid black; */
    
  }
}

@media (min-width:768px) and (max-width:991.98px){
  .main{
    /* display: flex; */
    flex-direction: column;
    margin-top: 20px;

    gap: 30px;
  }
  .men-card{

    /* margin-top: 20px; */
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    padding: 20px 20px;
    margin-bottom: 20px;
    /* background-color: rgb(189, 189, 114); */
    width: 600px;
    height: 250px;
    /* text-align: center; */
    position: relative;

  }
  .content{
    /* border: 1px solid black; */
   /* width: 500px; */
    position: absolute;
    bottom: 40%;
    left: 40%;
  }

  .content-buttons{
    position: absolute;
    gap: 30px;
    left: 40%;
    top: 65%;
  }
  .price-card{
    /* margin-top: 80px; */
    color: black;
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0%;
    right: 0%;
    width: 600px;
    margin-left: 50px;
    height: 630px;
    padding: 20px 30px;
    /* border: 1px solid black; */
    
  }
}
